<br />
<form name="editStudentClassForm" novalidate ng-submit="saveStudentClass()">
    <fieldset>
        <div class="row">
            <label for="student" class="span2">Student</label>
            <div class="span6">
                <select name="student" ng-options="s.id as 'Full Name:' + s.firstName + ' ' + s.lastName + ', Age:' + s.age for s in allowedStudents" ng-model="updatedStudentClass.studentId" required ng-disabled="updatedStudentClass.id > 0">
                    <option value="">---------- Select Student ----------</option>
                </select> <a class="btn btn-info" href="#/addStudent">Add New Student</a>
                <br />
                <span ng-show="updatedStudentClass.id <= 0">N.B: Only students with last name different from those already added are shown.</span>
            </div>
            <span class="error span2" ng-show="editStudentClassForm.student.$error.required">*</span>
        </div><br />
        <div class="row">
            <label for="gpa" class="span2">GPA</label>
            <input name="gpa" type="number" ng-model="updatedStudentClass.gpa" required class="span8" />
            <span class="error span2" ng-show="editStudentClassForm.gpa.$error.required">*</span>
        </div><br />
        <div>
            <input type="submit" class="btn" value="Save" ng-disabled="editStudentClassForm.$invalid" />
            <a href="#/" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>